<a href="https://colab.research.google.com/github/bmijangos/ProyectoIntegrador/blob/main/Actividad1_equipo21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
import os
import pandas as pd

# Lectura de los archivos csv
file_path = '/content/drive/MyDrive/DataSetProyecto/GrupalTodo.csv'

label = ["IdCliente","FechaAltaCliente","CodigoGrupo","EdadCliente","Genero","EstadoCivil","Escolaridad","CapacidadPago","Localidad","CodigoSucursal","CodigoASesor","NumeroCredito","CicloCliente","FechaDesembolso","FechaVencimiento","FechaCancelacion","Plazo","PeriodoPago","EstatusCredito","MontoCredito","CuotaNumero","CuotaFechaVencimiento","CuotaFechaCancelacion","MontoCuota","MontoCapital","SaldoCapital","EstatusCuota","DiasAtraso"]

# Obtenemos el dataframe
pagos_df = pd.read_csv(file_path, names=label)

pagos_df.shape

(4254537, 28)

In [28]:
file_path = '/content/drive/MyDrive/DataSetProyecto/GrupalTodoCastigos.csv'

castigos_df = pd.read_csv(file_path)

castigos_df.shape

(127677, 28)

In [29]:
grupal_df = pd.concat([pagos_df, castigos_df], axis=0)

In [31]:
grupal_df.shape

(4382214, 28)

In [30]:

print(grupal_df.describe())

          IdCliente   CodigoGrupo   EdadCliente   EstadoCivil  CapacidadPago  \
count  4.382214e+06  4.382214e+06  4.382214e+06  4.382214e+06   4.382214e+06
mean   5.900655e+04  8.414065e+02  4.616009e+01  3.268550e+00   7.631076e+03
std    3.836323e+04  5.770047e+02  1.334739e+01  1.669050e+00   3.068794e+04
min    4.000000e+00  0.000000e+00  1.900000e+01  1.000000e+00  -6.391200e+06
25%    2.366700e+04  3.130000e+02  3.600000e+01  2.000000e+00   2.400000e+03
50%    5.528300e+04  8.230000e+02  4.500000e+01  3.000000e+00   6.000000e+03
75%    9.228700e+04  1.244000e+03  5.500000e+01  5.000000e+00   1.016000e+04
max    1.376940e+05  2.594000e+03  1.130000e+02  7.000000e+00   8.000400e+06

          Localidad  CodigoSucursal  NumeroCredito  CicloCliente  \
count  4.382214e+06    4.382214e+06   4.382214e+06  4.382214e+06
mean   7.606856e+03    6.141834e+00   6.142497e+09  5.264630e+00
std    3.123555e+03    4.097011e+00   4.096800e+09  4.990858e+00
min    1.878000e+03    0.000000e+00   7.000000e+02  1.000000e+00
25%    7.065000e+03    3.000000e+00   3.000494e+09  2.000000e+00
50%    7.089000e+03    6.000000e+00   6.000647e+09  3.000000e+00
75%    7.131000e+03    9.000000e+00   9.000350e+09  7.000000e+00
max    3.068000e+04    2.100000e+01   2.100005e+10  4.300000e+01

              Plazo  MontoCredito   CuotaNumero    MontoCuota  MontoCapital  \
count  4.382214e+06  4.382214e+06  4.382214e+06  4.382214e+06  4.382214e+06
mean   1.210500e+01  7.981739e+03  6.552446e+00  8.139269e+02  6.643596e+02
std    2.919232e+00  7.904431e+03  3.868837e+00  8.198415e+02  6.667682e+02
min    3.000000e+00  5.000000e+02  1.000000e+00  7.880000e+00  7.010000e+00
25%    1.200000e+01  3.000000e+03  3.000000e+00  3.705500e+02  2.929600e+02
50%    1.200000e+01  5.000000e+03  6.000000e+00  5.652800e+02  4.638300e+02
75%    1.200000e+01  1.000000e+04  9.000000e+00  9.683200e+02  7.765000e+02
max    3.600000e+01  1.200000e+05  3.600000e+01  2.678669e+04  2.580999e+04

       SaldoCapital    DiasAtraso
count  4.382214e+06  4.382086e+06
mean   7.452829e+00  2.973238e+00
std    1.043616e+02  1.975742e+01
min    0.000000e+00 -4.660000e+02
25%    0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00
75%    0.000000e+00  1.000000e+00
max    1.086918e+04  1.977000e+03

In [32]:

print(grupal_df.head())

   IdCliente         FechaAltaCliente  CodigoGrupo  EdadCliente Genero  \
0        261  2004-02-16 00:00:00.000           56           40      F
1      30654  2004-02-01 00:00:00.000         1223           65      F
2        264  2004-02-16 00:00:00.000           57           68      F
3        263  2004-02-16 00:00:00.000           56           71      F
4        261  2004-02-16 00:00:00.000           56           40      F

   EstadoCivil Escolaridad  CapacidadPago  Localidad  CodigoSucursal  ...  \
0            2          1A            0.0       7181               1  ...
1            3          7A            0.0       7086               1  ...
2            5          7A            0.0       7181               1  ...
3            5          7A            0.0       7181               1  ...
4            2          1A            0.0       7181               1  ...

  EstatusCredito  MontoCredito  CuotaNumero    CuotaFechaVencimiento  \
0            CAN       20000.0            1  2012-01-16 00:00:00.000
1            CAN        7000.0            1  2012-01-16 00:00:00.000
2            CAN       20000.0            1  2012-01-16 00:00:00.000
3            CAN       15000.0            1  2012-01-16 00:00:00.000
4            CAN       20000.0            2  2012-01-30 00:00:00.000

     CuotaFechaCancelacion MontoCuota  MontoCapital SaldoCapital EstatusCuota  \
0  2012-01-16 10:04:10.000    1075.86         800.0          0.0            C
1  2012-01-16 11:33:11.000     400.69         280.0          0.0            C
2  2012-01-16 10:04:41.000    1075.86         800.0          0.0            C
3  2012-01-16 10:04:10.000     806.90         600.0          0.0            C
4  2012-01-30 10:56:22.000    1075.86         800.0          0.0            C

   DiasAtraso
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0

[5 rows x 28 columns]

In [33]:
grupal_df.dtypes

IdCliente                  int64
FechaAltaCliente          object
CodigoGrupo                int64
EdadCliente                int64
Genero                    object
EstadoCivil                int64
Escolaridad               object
CapacidadPago            float64
Localidad                  int64
CodigoSucursal             int64
CodigoASesor              object
NumeroCredito              int64
CicloCliente               int64
FechaDesembolso           object
FechaVencimiento          object
FechaCancelacion          object
Plazo                      int64
PeriodoPago               object
EstatusCredito            object
MontoCredito             float64
CuotaNumero                int64
CuotaFechaVencimiento     object
CuotaFechaCancelacion     object
MontoCuota               float64
MontoCapital             float64
SaldoCapital             float64
EstatusCuota              object
DiasAtraso               float64
dtype: object

In [34]:
grupal_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4382214 entries, 0 to 127676
Data columns (total 28 columns):
 #   Column                 Dtype
---  ------                 -----
 0   IdCliente              int64
 1   FechaAltaCliente       object
 2   CodigoGrupo            int64
 3   EdadCliente            int64
 4   Genero                 object
 5   EstadoCivil            int64
 6   Escolaridad            object
 7   CapacidadPago          float64
 8   Localidad              int64
 9   CodigoSucursal         int64
 10  CodigoASesor           object
 11  NumeroCredito          int64
 12  CicloCliente           int64
 13  FechaDesembolso        object
 14  FechaVencimiento       object
 15  FechaCancelacion       object
 16  Plazo                  int64
 17  PeriodoPago            object
 18  EstatusCredito         object
 19  MontoCredito           float64
 20  CuotaNumero            int64
 21  CuotaFechaVencimiento  object
 22  CuotaFechaCancelacion  object
 23  MontoCuota             float64
 24  MontoCapital           float64
 25  SaldoCapital           float64
 26  EstatusCuota           object
 27  DiasAtraso             float64
dtypes: float64(6), int64(10), object(12)
memory usage: 969.6+ MB

In [35]:
grupal_df.isnull().values.any()

True